@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.link-animada {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.link-animada::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #4CD964; 
  transition: width 0.3s ease;
}

.link-animada:hover::after {
  width: 100%;
}