---
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/iconSite.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hocicos | ONG</title>
	</head>
	<body class="relative">
		<slot />
	</body>

	<!-----
	
	#4CD964
	--- -->
</html>
